@model WebBanHangOnline.Models.EF.Contact

<div class="get_in_touch_contents">
    <h1>Hãy liên hệ với chúng tôi!</h1>
    <p>Điền vào mẫu dưới đây để gửi về chúng tôi.</p>
    <div>
        @using (Html.BeginForm("Add", "Contact", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <!-- your steps content here -->
            <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                <input id="input_name" class="form_input input_name input_ph" type="text" name="Name" placeholder="Name" required="required" data-error="Name is required.">
                <input id="input_email" class="form_input input_email input_ph" type="email" name="Email" placeholder="Email" required="required" data-error="Valid email is required.">
                <input id="input_website" class="form_input input_website input_ph" type="url" name="Website" placeholder="Website" required="required" data-error="Website is required.">
                <textarea id="input_message" class="input_ph input_message" name="Message" placeholder="Message" rows="3" required data-error="Please write us a message."></textarea>
                <div>
                    <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">GỬI</button>
                </div>
            </div>
        }
    </div>
</div>


